<div id="bodycontent">
<br>
<div  id="logid" class="container">
<h4 class="container">Login</h4>
    <form [formGroup]= "loginForm">
    <!-- form validation inline using reactive forms each input should show error message -->
     <!-- show error message snippet -->
     Login Id:
     <input type="text" class="form-control" formControlName="loginid" [ngClass]="{'is-invalid':loginForm.get('loginid').invalid && loginForm.get('loginid').touched, boldItalic:true}" placeholder="Enter Login Id">
     <div *ngIf="loginForm.get('loginid').invalid && loginForm.get('loginid').touched">
        <div *ngIf="loginForm.get('loginid').errors.required">
            Login Id is required
        </div>
    </div>
        
    Password:
    <input type="password" class="form-control" formControlName="password">
    <br>
    <button (click)="onSubmit()" class="btn btn-success">Login</button>
</form>
</div>

</div>