<h2>Authors</h2>

<button (click)="fetchAuthors()">Refresh List</button>
<ul>
  <li *ngFor="let author of authors" (click)="onSelect(author)">
    {{ author.name }} - {{ author.email }}
  </li>
</ul>

<div *ngIf="selectedAuthor">
  <h3>Selected Author</h3>
  <p>Name: {{ selectedAuthor.name }}</p>
  <p>Email: {{ selectedAuthor.email }}</p>
  
  <button (click)="createAuthor()">Create New Author</button>
  <button (click)="updateAuthor()">Update Author</button>
  <button (click)="deleteAuthor()">Delete Author</button>
</div>

<form [formGroup]="authorForm" (ngSubmit)="onFormSubmit()">
  <input formControlName="name" placeholder="Name">
  <input formControlName="email" placeholder="Email">
  <button type="submit">Submit</button>
</form>

<div *ngIf="error">{{ error }}</div>
