#footed{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(227, 230, 230, 0.055);
    backdrop-filter: blur(2px);
}
#navdiv{
    background-color: rgba(218, 219, 219, 0.055);
    backdrop-filter: blur(2px);
}
#bodycontent{
    /* background: url("../../public/blue-vector-background-hd-free.jpg"); */
    background-color: rgba(29, 18, 101, 0.749);
    color: white;
}
.nav-link{
    color: white;
}