<!-- The template below is not applied as there is an inline template in the component file. -->
<h4>Beverage Form</h4><br><br>
<!-- <form [formGroup]="formBeverages"> -->
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" class="form-control w-25" formControlName="name" />
  </div>
  <br>
  <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" class="form-control w-25" formControlName="email" />
  </div>
  <br>
  <div class="form-group form-check">
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input" formControlName="tea" /> Tea
    </label>
  </div>
  <br>
  <div class="form-group form-check">
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input" formControlName="coffee" /> Coffee
    </label>
  </div>
  <br>
  <div class="form-group form-check">
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input" formControlName="milk" /> Milk
    </label>
  </div>
  <br>
  <button type="submit" class="btn btn-success" [disabled]="form.invalid">Submit</button>
  <button type="reset" class="btn btn-info">Clear</button>
  <br><br>  
<!-- </form> -->
<!-- <p>Form Value: {{ formBeverages | json }}</p> -->
