<div class="container mt-5">
    <h2>Register Admin</h2>
    <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>
    <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
    <form>
      <div class="form-group">
        <label for="name">Name:</label>
        <input id="name" class="form-control" [(ngModel)]="admin.name" name="name" />
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" class="form-control" [(ngModel)]="admin.email" name="email" />
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" class="form-control" [(ngModel)]="admin.password" name="password" />
      </div>
      <div class="form-group">
        <label for="phone">Phone:</label>
        <input id="phone" class="form-control" [(ngModel)]="admin.phone" name="phone" />
      </div>
      <button type="button" class="btn btn-success mt-3" (click)="register()">Register</button>
    </form>
  </div>
  