<p>list-users works!</p>

<div class="container">
    <br>
    <h4>User-Details</h4>
    <div>
        <div class="table-striped" style="width: 500px;">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>NAME</th>
                        <th>SALARY</th>
                        <th>Send Away</th>
                        <th>Change</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                        <td>{{user.id}}</td>
                        <td>{{user.name}}</td>
                        <td>{{user.salary}}</td>
                        <td><button class="btn btn-danger"(click)="deleteUser(user.id)">X</button></td>
                        <td><button class="btn btn-ok">Update</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
 