<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>REGISTRATION FORM</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
 <nav class="navbar navbar-expand-lg bg-body-tertiary bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">HOME</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Portfolio Registration</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div id="outdiv">
  <div id="formdiv">
    <form (ngSubmit)="saveData($event)">
      <h1>PORTFOLIO REGISTRATION</h1>
      <label for="name" class="bld">NAME</label>
      <input type="text" [(ngModel)]="formData.name" name="name" placeholder="abcd" required><br><br>

      <label for="emailid" class="bld">EMAIL</label>
      <input type="email" [(ngModel)]="formData.emailid" name="emailid" placeholder="abcd@gmail.com" required><br><br>

      <label for="password1" class="bld">PASSWORD</label>
      <input type="password" [(ngModel)]="formData.password" name="password" placeholder="namE@123" required><br><br>

      <label for="txtarea">ADDRESS</label><br>
      <textarea [(ngModel)]="formData.address" name="address" cols="35" rows="4" placeholder="#32415, abc colony, India" required></textarea><br><br>

      <label for="gender" class="bld">GENDER</label>
      <input type="radio" [(ngModel)]="formData.gender" name="gender" value="male" required> MALE
      <input type="radio" [(ngModel)]="formData.gender" name="gender" value="female"> FEMALE<br><br>

      <button type="submit" id="rgbtn" class="btn btn-primary">Register now</button>
      <button type="reset" id="restbtn" class="btn btn-danger" (click)="formData = { name: '', emailid: '', password: '', address: '', gender: '' }">Reset</button>
    </form>
  </div>

  <div id="tablediv">
    <table id="table1">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Password</th>
        <th>Address</th>
        <th>Gender</th>
      </tr>
      <tr *ngFor="let data of savedData">
        <td>{{ data.name }}</td>
        <td>{{ data.emailid }}</td>
        <td>{{ data.password }}</td>
        <td>{{ data.address }}</td>
        <td>{{ data.gender }}</td>
      </tr>
    </table>
  </div>
</div>
</body>
</html> -->

<div id="bdydiv">

  <h1>My Angular App....</h1>
  <h2>Property: {{title}}</h2>
  <!-- <h3>List of Users</h3>
  <ol *ngFor="let user of users" class="table-black">
    <li>{{user.id}} {{user.name}} {{user.salary}}</li>
  </ol> -->
  
  <h3>List of Users</h3>
  <table class="table thead-black" >
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Salary</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.salary }}</td>
      </tr>
    </tbody>
  </table>
</div>
