<div id="bodycontent">
<br>

<div id="formcontainer" class="container mb-1 ">

    <div id="head">
        <h4 >Register</h4>
    </div>
    
    <!--bootstrap container-->
    <div class="container " id="formd"  >
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">

            <label for="Name"> Name </label>
            <input type="text" id="Name" name="Name" formControlName="Name" class="form-control" [ngClass]="{'is-invalid' : submitted && registerForm.controls['Name'].errors, 'boldItalicError':registerForm.controls['Name'].errors}"/>
            <div *ngIf="registerForm.controls['Name'].errors" class="invalid-feedback boldItalicError">
                    <div *ngIf="registerForm.controls['Name'].errors?.['required']">
                        Admin is required
                    </div>
                </div>
                <label for="username"> Username </label>
                <input type="text" id="username" name="username" formControlName="username" class="form-control" [ngClass]="{'is-invalid' : submitted && registerForm.controls['username'].errors, 'boldItalicError':registerForm.controls['username'].errors}"/>
                <div *ngIf="registerForm.controls['username'].errors" class="invalid-feedback boldItalicError">
                    <div *ngIf="registerForm.controls['username'].errors?.['required']">
                        username is required
                    </div>
                </div>
                <label for="password"> Password </label>
                <input type="text" id="password" name="password" formControlName="password" class="form-control" [ngClass]="{'is-invalid' : submitted && registerForm.controls['password'].errors, 'boldItalicError':registerForm.controls['password'].errors}"/>
                <div *ngIf="registerForm.controls['password'].errors" class="invalid-feedback boldItalicError">
                    <div *ngIf="registerForm.controls['password'].errors?.['required']">
                        password is required
                    </div>
                </div>
                <label for="salary"> Salary </label>
                <input type="number" id="salary" name="salary" formControlName="salary" class="form-control" [ngClass]="{'is-invalid' : submitted && registerForm.controls['salary'].errors, 'boldItalicError':registerForm.controls['salary'].errors}"/>
                <div *ngIf="registerForm.controls['salary'].errors" class="invalid-feedback boldItalicError">
                    <div *ngIf="registerForm.controls['salary'].errors?.['required']">
                        salary is required
                    </div>
                </div>
                <label for="email">Email</label>
                <input type="text" name="email" id="email" class="form-control" [ngClass]="{'is-invalid' : submitted && registerForm.controls['email']?.errors}">
                <div *ngIf="registerForm.controls['email'].errors?.['required']" class="invalid-feedback boldItalicError">
                    <div *ngIf="registerForm.controls['email'].errors?.['required']">
                        email is required
                    </div>
                </div>
                <br>
                <div id="btndiv">
                    <button type="submit" class="btn btn-success w-25">Register</button>
                    &nbsp; &nbsp;
                    <button type="reset" class="btn btn-danger w-25">Reset</button>
                </div>
            </div>
            <div class="form-group">
                
            </div>
        </form>
    </div>
</div>
</div>